@use '../mixins/pseudo.scss' as *;
@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;


.items {
    height: 90px;
    display: flex;
  align-items: center;
    
  

}


.header{
    background-color: rgba(0, 0, 0, 0.70);
    &::before {
        content: "";
        position: absolute;
        width: 1440px;
        height: 1024px;
        background-image: url(../../assets/images/landingpage-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.46);
        width: 1440px;
        height: 1024px;
        z-index: -1;
       }
   
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Ubuntu Sans";
    font-size: 23px;
    font-weight: lighter;
    padding: 24px 62px;
    width: 1440px;

}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73.5px;
    width: 153px;
}


.items {
    display: flex;
    gap: 115.33px;
    margin-top: 0;
    margin-bottom: 0;
}